/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  z-index: 1000; /* Ensure it stays on top of other elements */
}

.navbar nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar nav ul li {
  cursor: pointer;
  padding: 10px;
  color: white;
}

.navbar nav ul li:hover {
  text-decoration: underline;
}
